$font-primary: 'SourceR', sans-serif;
$font-secondary: 'SourceS', sans-serif;
$font-bold: 'SourceB', sans-serif;

@font-face {
    font-family: 'SourceS';
    src: url(../fonts/source-sans-pro.semibold.ttf) format("truetype");
};

@font-face {
    font-family: "SourceB";
    src: url(../fonts/source-sans-pro.bold.ttf) format("truetype");
};

@font-face {
    font-family: 'SourceR';
    src: url(../fonts/source-sans-pro.regular.ttf) format("truetype");
}