.container {
    max-width: 1400px;
    margin: auto;
}

.clear {
    clear: both;
}

main {
    background-color: #F6F6F6;
}

.click:focus,
.click:focus-within {
    border: 1px solid #3C0D60;
}

.click-white:focus {
    border: 1px solid white;
}

.green {
    fill: #8CC63F;
}

$secondary-color: #ECE9E9;